{
  "rules": {
    "users": {
      "{userId}": {
        "allow read": true,
        "allow write": "if request.auth.uid == userId",
        "bookmarks": {
          "{postId}": {
            "allow read, write, delete": "if request.auth.uid == userId"
          }
        },
        "followers": {
          "{followerId}": {
            "allow read": true,
            "allow write": "if request.auth.uid == followerId"
          }
        },
        "following": {
          "{followingId}": {
            "allow read": true,
            "allow write, delete": "if request.auth.uid == userId"
          }
        }
      }
    },
    "posts": {
      "{postId}": {
        "allow read": true,
        "allow create, update, delete": "if request.auth.uid == resource.data.userId",
        "comments": {
          "{commentId}": {
            "allow read": true,
            "allow create": "if request.auth != null && request.auth.uid == request.resource.data.user.id"
          }
        },
        "likedByUsers": {
          "{userId}": {
            "allow read, write, delete": "if request.auth.uid == userId"
          }
        }
      }
    },
    "conversations": {
      "{conversationId}": {
        "allow read, write": "if request.auth.uid in resource.data.participants",
        "messages": {
          "{messageId}": {
            "allow read, create": "if request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participants"
          }
        }
      }
    },
    "notifications": {
      "{userId}": {
        "items": {
          "{notificationId}": {
            "allow read, write, delete": "if request.auth.uid == userId"
          }
        }
      }
    },
    "notificationsMeta": {
      "{userId}": {
        "allow read": "if request.auth != null",
        "allow write": "if request.auth.uid == userId"
      }
    },
    "mandi_listings": {
      "{listingId}": {
        "allow read": true,
        "allow create": "if request.auth.uid == request.resource.data.sellerId",
        "allow update, delete": "if request.auth.uid == resource.data.sellerId"
      }
    },
    "mandi_buyer_requests": {
      "{requestId}": {
        "allow read": true,
        "allow create": "if request.auth.uid == request.resource.data.postedById",
        "allow update, delete": "if request.auth.uid == resource.data.postedById"
      }
    },
    "yojna": {
      "{yojnaId}": {
        "allow read": true
      }
    }
  }
}
